<li class="nav-dropdown-container support-vue">
  <a class="nav-link">Vue'ye Destek Ol</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="/support-vuejs/#One-time-Donations" class="nav-link">Tek Seferlik Bağış</a></li>
      <li><a href="/support-vuejs/#Recurring-Pledges" target="_blank" class="nav-link">Tekrarlanan Bağış</a></li>
      <li><a href="https://vue.threadless.com" target="_blank" class="nav-link">Tişört Al</a></li>
    </ul></li>
  </ul>
</li>
